@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$white: #fff;
$black: #000;
$primary: #202020;
$pink: #F5487F;
$violet: #7F48F5;
$Inter: 'Inter', sans-serif;