@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --primary: #202020;
  --white: #fff;
  --lightgray: #f1f1f1;
  --darkgray: #adadad;
  --pink: #ED9ED6;
  --yellow: #FFC7C7;
  --purple: #C683D7;
  --blue: #7071E8;

  --Lato: 'Lato', sans-serif;
  --Afacad: 'Afacad', sans-serif;
}
* {
  @apply p-0 m-0 box-border;
}
body {
  @apply overflow-x-hidden text-lg;
  background-color: var(--lightgray);
  font-family: var(--Lato);
  color: var(--primary);
}
h1, h2 {
  font-family: var(--Afacad);
}
button, input, a, select, textarea {
  transition: all .3s linear;
}

::selection {
  background-color: var(--primary);
  color: var(--white);
}
.link {
  @apply cursor-pointer;
  color: var(--primary);
  &:hover {
    color: var(--pink);
  }
}