.pre__form {
    @apply flex justify-center items-center flex-col w-screen h-screen p-4 relative ;

    &::after {
        @apply block absolute top-1/2 left-1/2 rounded-md;
        content: "";
        width: 300px;
        height: 300px;
        background-color: #ED9ED6;
    }

    &::before {
        @apply block absolute rounded-md;
        content: "";
        width: 300px;
        height: 300px;
        background-color: #7071E8;
        top: 10%;
        left: 20%;
    }

    .form  {
        @apply pr-10 pl-10 pt-10 pb-10 flex justify-center items-start flex-col w-full rounded-md mr-10 relative z-10;
        max-width: 500px; 
        border: 2px solid rgb(20,20,20,.3);
        box-shadow:  0 0 20px rgb(20,20,20,.2);
        background-color: #f1f1f1;

        h2 {
            @apply text-4xl font-bold
        }
        p {
            @apply text-sm mb-4; 
            color: rgb(20,20,20,.5);
        }

        .form__component {
            @apply flex justify-center items-start flex-col w-full mb-2;
            label {
                @apply text-sm font-medium;
                color: rgb(20,20,20,.5)
            }
            input {
                @apply w-full p-2 rounded-md bg-transparent outline-none;
                border: 2px solid rgb(20,20,20,.3);
                transition: all .3s linear;
                &:focus {
                    box-shadow: 5px 5px 1px  #ED9ED6;
                    border-color: #202020;  
                }
                &:hover {
                    border-color: #202020;  
                }
            }
        }

        .form__bottom {
            @apply w-full flex justify-center items-center flex-col gap-2 mt-3
        }
    }
    
}